div {
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 30px;
  float: left;
}

.uno {
  background-color: #4A88F4;
}

.dos {
  background-color: #9F98E4;
}

.tres {
  background-color: #7F98E4;
}

.cuatro {
  background-color: #7F77E4;
}

.cinco {
  background-color: #4E98A4;
}

.seis {
  background-color: #AB88D8;
}

.siete {
  background-color: #3A82A6;
}

.ocho {
  background-color: #9A82A9;
}

.nueve {
  background-color: #8A62A9;
}

.diez {
  background-color: #5A46A6;
}
