.container {
  background-color: #ffc;
  margin: auto;
  width: 70%;
  overflow: hidden;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.caja {
  width: 48%;
  height: 50px;
  background-color: tomato;
  margin: 1%;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li a {
  color: #fff;
}

.caja2 {
  width: 98%;
  margin: 1%;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
}

.caja3 {
  width: 31.333%;
  margin: 1%;
  background-color: deepskyblue;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
   .container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 99%;
  }

  .caja, .caja3 {
    width: 98%;
  }
}
