* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

.box1 { background: #1abc9c; }
.box2 { background: #3498db; }
.box3 { background: #9b59b6; }
.box4 { background: #34495e; }
.box5 { background: #f1c40f; }
.box6 { background: #e67e22; }
.box7 { background: #e74c3c; }
.box8 { background: #bdc3c7; }
.box9 { background: #2ecc71; }
.box10 { background: #16a085; }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  border: 10px solid mistyrose;
}

@media (max-width:900px) {
  .box {
    font-size: 80px;
  }
}

@media (max-width:740px) {
  .box {
    font-size: 60px;
  }
}

@media (max-width:600px) {
  .box {
    font-size: 40px;
  }
}

@media (max-width:500px) {
  .box {
    font-size: 30px;
  }
}
